In [5]:
import pandas as pd 
import numpy as np

In [8]:
m = np.random.randint(1,30,size=(10,3))
df = pd.DataFrame(m,columns = ["var1","var2","var3"])

In [9]:
df

,var1,var2,var3
0,26,1,15
1,12,11,1
2,20,28,6
3,17,9,27
4,19,25,19
5,2,14,24
6,20,8,3
7,2,9,25
8,1,14,1
9,1,10,22

In [11]:
df["var1"] [0:2]

In [12]:
df[0:2]

,var1,var2,var3
0,26,1,15
1,12,11,1

In [13]:
df[0:2][["var1","var2"]]

,var1,var2
0,26,1
1,12,11

In [16]:
df[df.var1 > 15]

,var1,var2,var3
0,26,1,15
2,20,28,6
3,17,9,27
4,19,25,19
6,20,8,3

In [24]:
#Var1 15 den büyük değerler alacak ama var2 nin hepsi gelecek.
df.loc[(df.var1>15),["var1","var2","var3"]]

NotImplementedError: NotImplementedError: iLocation based boolean indexing on an integer type is not available