# PANDAS DATAFRAME OLUŞTURMA

In [3]:
#Daha analitik anlamda makine öğrenmesi için makineye verilecek verilerde daha çok kullanılır
import pandas as pd

In [9]:
l = [1,2,39,67,90]

In [14]:
pd.DataFrame(l,columns = ["İsim"])

   İsim
0     1
1     2
2    39
3    67
4    90

In [39]:
import numpy as np

In [49]:
m = np.arange(1,10).reshape((3,3))

In [52]:
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])